<div id="credits-modal" style="width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; background-color: black; display: none; color: white;
    text-align: center; z-index: 1000; padding-top: 100px" onclick="this.style.display='none'">
    <h1>{{ site.title }}</h1>
    <br>
    <h2>Concept Design</h2>
    <p><a style="color: inherit" href="https://johangroenen.nl/">Johan Groenen</a></p>
    <br>
    <h2>Contributors</h2>
    <p><a style="color: inherit" href="https://johangroenen.nl/">Johan Groenen</a></p>
    <p><a style="color: inherit" href="https://tiltshift.nl/">Tiltshift</a></p>
    <br>
    <h2>Inspiration</h2>
    <p><a style="color: inherit" href="https://switching.software/">Switching.Software</a></p>
    <p><a style="color: inherit" href="https://european-alternatives.eu/">European Alternatives</a></p>
    <p><a style="color: inherit" href="https://civictech.guide/">Civic Tech Guide</a></p>
    <p><a style="color: inherit" href="https://oecd-opsi.org/toolkits/ogp-toolbox/">OGP Toolbox</a></p>
    <br>
    <p>Made with <a href="https://www.codefor.nl" style="color: #EB8C3A; text-decoration: none">♥</a> by <a href="https://www.codefor.nl" style="color: #EB8C3A;">Code for NL</a></p>
</div>